@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background: url(https://wallpapercave.com/wp/wp5943525.jpg);
    background-size: 200vw 225vh;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:75px;
}
.container .btn-menu label{
    color: black;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: white;
    font-weight: 450;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 25px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}


.form-register {
  position: relative;
  top: 25px;
  right: 700px;
  width: 425px; 
  background: #24303cc2;
  padding: 25px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 150px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.77);
}

.form-register h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid silver;
  padding: 0 0 20px 0;
}

.form-register h5 {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: left;
  }

.controls {
  width: 49.2%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;  
  color: white;
}

.controlsbtn {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.controlsal {
    width: 49.2%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

.controlsnac {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.controlsn {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.controlsnu {
  width: 49.44%;
  background: #24303c;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 0.5px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.controlse {
  width: 30%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 10px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

#main-container{
    width: 5px;    
    position: relative;
    left: 540px;
    top: -1180px;
    bottom: 1280px;
    overflow: auto;
  }
  
  table{
      background-color: white;
      border-collapse: collapse;
  }
  
  th, td{
      padding: 20px;
  }
  
  thead{
      background-color: #1f4756;
      border-bottom: solid 5px #0f3536;
      color: white;
  }
  
  tr:nth-child(even){
      background-color: #ddd;
  }
  
  tr:hover td{
      background-color: #366896;
      color: white;
  }
  